.THIS.slds-modal {
    width: 190%;
    left: -45%;
}
.THIS.slds-modal:focus {
    outline: none !important;
}
.THIS .slds-modal__content {
    min-height: 16rem;
}
.THIS .slds-modal__container{
    width:75%;
}
.THIS .slds-has-error .slds-dueling-list  {
	border: var(--lwc-borderWidthThin,1px) solid var(--slds-c-select-color-border, var(--sds-c-select-color-border, var(--slds-g-color-border-base-4, var(--lwc-colorBorderInput,rgb(201, 201, 201)))));
    border-radius: var(--slds-c-select-radius-border, var(--sds-c-select-radius-border, var(--lwc-borderRadiusMedium,0.25rem)));
    background-color: var(--slds-c-select-color-background, var(--sds-c-select-color-background, var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)))));
    color: var(--slds-c-select-text-color, var(--sds-c-select-text-color));
    box-shadow: var(--slds-c-select-shadow, var(--sds-c-select-shadow));
    transition: border var(--lwc-durationQuickly,0.1s) linear,background-color var(--lwc-durationQuickly,0.1s) linear;
    border-color: var(--slds-g-color-error-base-40, var(--lwc-colorBorderError,rgb(234, 0, 30))) !important;
    box-shadow: var(--slds-g-color-error-base-40, var(--lwc-colorBorderError,rgb(234, 0, 30))) 0 0 0 var(--lwc-borderWidthThin,1px) inset !important;
}